
body {
  font-family: 'Roboto', sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    --ObjectColor: #000000;
    --DetailColor: #c94802;
    --HoveredDetail: #e3691e;
    --ActiveDetail: #a53600;
    --TextFieldBackground: #ffffff;
    --ButtonColor: #d15b05; 
    --ButtonHoveredColor: #a84300; 
    --ButtonActiveColor: #873e00; 
  }

  body {
    background-color: #ffffff;
    color: #333333;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ObjectColor: #ffffff;
    --DetailColor: #c94802;
    --HoveredDetail: #e3691e;
    --ActiveDetail: #a53600;
    --TextFieldBackground: #101010;
    --ButtonColor: #d15b05; 
    --ButtonHoveredColor: #a84300; 
    --ButtonActiveColor: #873e00; 
  }

  body {
    background-color: #1a1a1a;
    color: #eeeeee;
  }
}
button,
input[type="file"] {
  border-radius: 8px;
  background-color: var(--TextFieldBackground);
  color: var(--ObjectColor);
  padding: 10px 20px; 
  font-size: 16px; 
  border: 2px solid var(--ObjectColor);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover,
input[type="file"]:hover {
  border-color: var(--DetailColor);
}

input[type="file"]::-webkit-file-upload-button {
  border: none;
  padding: 0;
  background: none;
  color: var(--ObjectColor);
  cursor: pointer;
  margin-right: 8px; 
  transition: color 0.3s ease-in-out;
}

input[type="file"]:hover::-webkit-file-upload-button {
  color: var(--DetailColor);
}



table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
  color: var(--ObjectColor); 
  border-radius: 8px; 
  overflow: hidden; 
  position: relative; 
}


table:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--ObjectColor); 
  border-radius: 8px; 
  pointer-events: none; 
}


th, td {
  border: none; 
}


th {
  background-color: var(--DetailColor); 
  font-weight: bold;
  padding: 10px;
  text-align: left;
}


td {
  padding: 8px;
}


tr:nth-child(even) {
  background-color: var(--EvenRowBackground); 
}


td, th {
  text-align: center;
}


.table-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--ObjectColor);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  vertical-align: middle; 
  transition: border-color 0.2s ease;
}


input[type="checkbox"]:checked {
  border-color: var(--DetailColor);
}


input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--DetailColor);
  border-radius: 2px;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}


input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="date"] {
  box-sizing: border-box;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--ObjectColor);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  color: var(--ObjectColor);
  background-color: var(--TextFieldBackground);
  transition: border-color 0.3s, color 0.3s;
}


input[type="date"]:focus {
  border-color: var(--DetailColor);
}


input[type="date"]:disabled {
  background-color: var(--TextFieldBackground);
  border-color: #555;
  color: #777;
}


input[type="date"].error {
  border-color: #e74c3c;
}


.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}


@media (prefers-color-scheme: light) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('calendar.svg') no-repeat center center;
    background-size: contain;
  }
}


@media (prefers-color-scheme: dark) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('calendar_white.svg') no-repeat center center;
    background-size: contain;
  }
}


.DayPicker {
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
}

.DayPicker-Caption {
  display: table-caption;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid var(--ObjectColor);
}

.DayPicker-Weekdays {
  display: table-header-group;
  background-color: var(--TextFieldBackground);
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 10px;
  color: var(--ObjectColor);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: 10px;
  color: var(--ObjectColor);
  text-align: center;
  cursor: pointer;
}

.DayPicker-Day--today {
  font-weight: bold;
}

.DayPicker-Day--selected {
  background-color: var(--DetailColor);
  color: #fff;
  border-radius: 50%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  box-sizing: border-box;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--ObjectColor); 
  border-radius: 8px; 
  outline: none;
  font-size: 16px;
  color: var(--ObjectColor); 
  background-color: var(--TextFieldBackground); 
  transition: border-color 0.3s, color 0.3s; 
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: var(--DetailColor); 
}


input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
textarea:disabled {
  background-color: var(--TextFieldBackground); 
  border-color: #555; 
  color: #777; 
}


input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
input[type="tel"].error,
textarea.error {
  border-color: #e74c3c;
}


.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--ObjectColor);
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  vertical-align: middle; 
  margin-bottom: 2px; 
  transition: border-color 0.2s ease;
}


input[type="radio"]:checked {
  border-color: var(--DetailColor);
}


input[type="radio"]::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--DetailColor);
  border-radius: 50%; 
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}


input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="search"] {
  box-sizing: border-box;
  padding: 12px 12px 12px 40px; 
  margin: 5px 0;
  border: 1px solid var(--ObjectColor);
  border-radius: 50px; 
  outline: none;
  font-size: 16px;
  color: var(--ObjectColor);
  background-color: var(--TextFieldBackground);
  transition: border-color 0.3s, color 0.3s;
  width: calc(100% - 10px); 
  background-image: url('search.svg'); 

  
  @media (prefers-color-scheme: dark) {
    background-image: url('search_white.svg');
  }

  background-repeat: no-repeat;
  background-position: 10px center; 
}


input[type="search"]:focus {
  border-color: var(--DetailColor);
}


input[type="search"]:disabled {
  background-color: var(--TextFieldBackground);
  border-color: #555;
  color: #777;
}


input[type="search"].error {
  border-color: #e74c3c;
}


.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}
select {
  border-radius: 8px;
  background-color: var(--TextFieldBackground);
  color: var(--ObjectColor);
  padding: 10px; 
  font-size: 16px; 
  border: 2px solid var(--ObjectColor);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

select:hover {
  border-color: var(--DetailColor);
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--DetailColor); 
}

option {
  background-color: var(--TextFieldBackground);
  color: var(--ObjectColor);
  border-radius: 8px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

option:hover {
  background-color: var(--DetailColor);
  color: var(--TextFieldBackground);
}

input[type="checkbox"].switch {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 32px; 
  height: 20px;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--ObjectColor);
  transition: border-color 0.2s ease;
  vertical-align: middle; 
}


input[type="checkbox"].switch::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 2px; 
  transform: translate(0, -50%);
  transition: left 0.2s ease;
}


input[type="checkbox"].switch:checked {
  border-color: var(--DetailColor);
}


input[type="checkbox"].switch:checked::before {
  left: calc(100% - 14px); 
}


input[type="checkbox"].switch:not(:checked)::before {
  left: 2px; 
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  box-sizing: border-box;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--ObjectColor); 
  border-radius: 8px; 
  outline: none;
  font-size: 16px;
  color: var(--ObjectColor); 
  background-color: var(--TextFieldBackground); 
  transition: border-color 0.3s, color 0.3s; 
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: var(--DetailColor); 
}


input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
textarea:disabled {
  background-color: var(--TextFieldBackground); 
  border-color: #555; 
  color: #777; 
}


input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
input[type="tel"].error,
textarea.error {
  border-color: #e74c3c;
}


.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}
