body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Tema Chiaro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #333;
  }

  header, section, footer {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  a {
    color: #007bff;
  }

  button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #007bff;
    color: #fff;
  }

  button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
  }

  input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ccc;
  }

  input[type="file"] {
    margin: 6px 0;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .switch input:checked + .slider {
    background-color: #007bff;
  }

  select {
    border: 1px solid #ccc;
  }
}

/* Tema Scuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }

  header, section, footer {
    background-color: #1a1a1a;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  a {
    color: #66b3ff;
  }

  button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #66b3ff;
    color: #fff;
  }

  button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #3385ff;
  }

  input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #666;
  }

  input[type="file"] {
    margin: 6px 0;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .switch input:checked + .slider {
    background-color: #66b3ff;
  }

  select {
    border: 1px solid #666;
  }
}
